@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Be Vietnam Pro', sans-serif;
    scrollbar-width: none;
    overflow-x: hidden;
}
body{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.header{
    margin: 0;
    background: #FFFFFF;
    width: 100vw;
    position: fixed;
}
.header_nav{
    margin:13px 180px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_logo_image{
    height: auto;
}
.header_nav_menu{
    display: flex;
    text-align: end;
}
.header_nav_title{
    margin-left: 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
    cursor: pointer;
}
.underline{
    text-decoration-line: underline;
}
.title{
    margin-top: 68px;
    height: 242px;
    width: 100vw;
    background-color: #D4ECEE;
    display: grid;
    align-items: center;
}
.title_header{
    text-align:center;
}
.homebg_image{
    width: 100vw;
    margin: 0;
}
.title_header1{
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.8125rem;
    color: #642E77;
}
.title_header2{
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #642E77;
}
.section2{
    width: 100vw;
}
.section2_title{
    margin-top: 140px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 61px;
    line-height: 3.8125rem;
    color: #7E518E;
}
.container{
    margin-top: 105px;
    width: calc(100% - 240px);
    margin-left: 120px;
    margin-right: 120px;
}
.container_column{
    display: grid;
    column-gap: 17%;
    grid-template-columns: 22% 22% 22%;
}
.column_title{
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #7E518E;
}
.column_description{
    margin-top: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.6875rem;    
    color: #6B6B6B;
    text-align: justify;
}
.feature{
    margin-top: 180px;
    width: 100vw;    
}
.feature_image{
    position: absolute;
    width: 100vw;
}
.feature_container{
    position: absolute;
    margin-top: 92px;
    margin-left: 124px;
}
.feature_title{
    font-weight: bold;
    font-size: 3rem;
    line-height: 3.8125rem;
    color: #7E518E;
}
.feature_description{
    margin-top: 30px;
    width: 467px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #6B6B6B;
    text-align: justify;
}
.building{
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin-top: -128px;
}
.building_image{
    width: 580px;
    margin-right: 48px;
}

@media screen and (min-width: 1441px) {
    .container{
        width: calc(100% - 328px);
        margin-left: 164px;
        margin-right: 164px;
    }
    .feature_container{
        margin-left: 164px;
    }
}